@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}
/* sections */

.trans {
  transition: opacity 0.5s ease-in-out;
}

.sectionWrap {
  @apply padding max-w-7xl mx-auto relative z-0;
}

.contact-input {
  @apply py-4 px-2 font-semibold text-[#555] hover:bottom-0 rounded-lg bg-slate-100
}
.quote::before {
  content: open-quote;
  @apply font-bold text-secondary text-4xl
}
.quote::after {
  content: close-quote;
  @apply font-bold text-secondary text-4xl
}
/* glassmorphism */
.glass {
 @apply  rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 z-[1000] border-0 
}
/* navbar onScroll */
.scrolled {
  @apply fixed bg-[#f6f6f7] glass border-[#f4f5f4] border
}


.paddingX { 
  @apply sm:px-16 px-6;
}

.paddingY { @apply sm:py-16 py-6; }

.padding { @apply sm:px-16 px-6 sm:pb-16 pb-10 }
.heroHeadText { @apply font-black text-[#344] lg:text-[3.86rem] sm:text-center nv:text-left nv:text-balance md:text-[2.4rem] sm:text-[3rem] text-[40px]  lg:leading-[5rem]  }
.heroSubText{ @apply text-[#dfd9ff] font-medium lg:text-[30px] sm:text-[26px] text-[20px]  lg:leading-[40px] }
.sectionHeadText { @apply text-white font-black md:text-[50px] sm:text-[40px] text-[30px] }
.sectionSubText { @apply sm:text-[18px] text-[14px] text-secondary uppercase tracking-wider }